/* .detPage-calendar,
.map-section {
  content-visibility: auto;
  contain-intrinsic-size: auto 500px;
} */

.details-container p {
  font-size: 14px !important;
}

.show-img {
  height: 22rem;
  object-fit: cover;
  width: 100%;
}

.listing-facts {
  color: rgb(14, 13, 13);
}

.host-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.listing-description {
  white-space: pre-line;
}

.amenities-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.amenity-box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1c1c1c;
  border-radius: 10px;
  padding: 10px;
}

.icon {
  font-size: 18px;
}

.label {
  color: #1c1c1c;
  font-size: 14px;
}

.booking-card {
  position: sticky;
  top: 90px;
  height: fit-content;
}

.map-container {
  height: 60vh !important;
  width: 100% !important;
}

.map-placeholder {
  max-height: 400px;
}

@media (max-width: 576px) {
  .show-img,
  .map-container {
    max-height: 15rem !important;
  }

  .details-container {
    padding: 5% !important;
  }
}

@media (max-width: 767px) {
  .detPage-calendar {
    text-align: center;
  }

  .booking-card {
    justify-content: center !important;
    margin-top: 20px !important;
  }
}
