body {
  margin: 0;
  font-family: "Plus Jakarta Sans", system-ui, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid rgb(14, 13, 13); */
}

.cursor-pointer {
  cursor: pointer;
}

.form-width {
  width: 100%;
}
.rating-wrapper svg:active {
  transform: scale(0.9);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;

}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background: #ebebeb;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
}

.center-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu {
  text-decoration: none;
  font-weight: 600;
  color: rgb(109, 104, 104);
  padding: 6px 12px;
}

.menu.active {
  color: black;
}

/* hide center menu on small screens */
@media (max-width: 768px) {
  .center-menu {
    display: none;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h3,
.link {
  height: 100%;
  margin-top: 0.5rem;
}

.heading .link {
  background: rgb(247, 246, 244);
  color: black;
  padding: .5rem .6rem .5rem .6rem;
  border-radius: 2rem;
}

.heading .link:hover {
  background: rgb(231, 231, 228);
}

/* LOGIN PAGE */
.login-page {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
 align-items: center;
  background: #f8f9fa;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  height: fit-content;
}

.login-card input {
  font-size: 16px;
}

/* Tablet */
@media (max-width: 768px) {
  .login-card input, .signup-card input {
    font-size: 14px;
  }

  .login-card input::placeholder, .signup-card input::placeholder {
    font-size: 13px;
  }

  .signup-card{
    margin-bottom: 8rem;
  }
}

/* mobile */
@media (max-width: 480px) {
  .login-card input, .signup-card input {
    font-size: 13px;
    padding: 8px;
  }

  .login-card input::placeholder, .signup-card input::placeholder {
    font-size: 12px;
  }
}


.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #f8f9fa;
  padding: 20px;
}

.signup-card {
  height: fit-content;
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 12px;
}
